body{
background-color: #EBF4F3;
margin: 0;

}

.navbar {
  background-color: #024A3F;
  padding: 15px 40px;
  font-family: "consolas", sans-serif;

  display: flex;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar h1 {
  color: aliceblue;
  margin: 0;
  font-size: 22px;
}

.nav-links {
  margin-left: auto;
}

.nav-links a {
  color: aliceblue;
  text-decoration: none;
  margin-left: 25px;
  font-size: 18px;

    transition: transform 0.2s ease;
  display: inline-block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #024A3F;
  min-width: 180px;
  top: 100%;
  left: 0;
  z-index: 999;
}

.dropdown-content a {
  display: block;
  padding: 15px 30px;
  margin: 0;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 600;

    transition: transform 0.2s ease;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-links a:hover,
.dropdown-content a:hover {
  transform: scale(1.08);
}


#banner .back {
  width: 100%;
  height: auto;
  display: block;
}
#banner {
  position: relative;
}


#ty_drop{

color: #65ADD3;
 font-weight: 700;

}

#eq_drop{

color: #E8BF6D;
font-weight: 700;

}


#ve_drop{

color: #D66167;
font-weight: 720;

}


.broc-section {
  display: flex;
  align-items: flex-start; 
  gap: 30px;              
  margin: 30px;            
}

.broc-img {
  width: 700px;   
  height: auto;    
  flex-shrink: 0;  
}

.broc-section p {
  flex: 1;         
}

p{

    color: #024A3F;
    font-family: "consolas", sans-serif;
    font-size: 20px;
    word-spacing: 10px;
    line-height: 35px;
    font-family: Montserrat;
    font-weight: 530;
    margin: 10px;
    text-align: justify;
}



@media (max-width: 768px) {

  .navbar {
    padding: 10px 15px;
  }

  .navbar h1 {
    font-size: 14px;
  }

  .nav-links a {
    font-size: 12px;
    margin-left: 10px;
  }

}


@media (max-width: 768px) {
  .broc-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .broc-img {
    width: 90%;
  }

  .broc-section p {
    width: 100%;
  }
}
